{% extends 'base.html' %}

{% block content %}

<div class="center" style="display:flex">

    <style>
        button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 16px 32px;
            text-decoration: none;
            margin: 4px 2px;
            cursor: pointer;
        }

        .center {
            margin: auto;
            width: 50%;

            padding: 10px;
        }

        .form {
            margin: auto;
            width: 50%;
            padding: 10px;
        }
    </style>

    <form method="post" id="carForm" class="form" data-make-url="{% url 'ajax_load_makes' %}" novalidate>
        {% csrf_token %}
        <h3>Choose Car</h3>
        <table>
            {{ form.as_table }}
        </table>
        <button type="submit" value="submission">Submit</button>
        <a href="{% url 'home_view' %}">Cancel</a>
    </form>
    {% if fuel_efficiency %}
    <div class="w3-container">
        <div class="w3-panel w3-light-grey w3-border w3-round">

            <p>Your {{ year }} {{ make }} {{ model }} has a fuel efficiency of
                {{ fuel_efficiency }} miles per gallon</p>
            <p>It outputs {{ emissions }} pounds of CO2 per mile</p>
            <a href="{% url 'home_view' %}">Return home</a>
        </div>
    </div>
    {% endif %}
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#id_year").change(function () {
        var url = $("#carForm").attr("data-makes-url");
        var yearId = $(this).val();

        $.ajax({
            url: '{% url 'ajax_load_makes' %}',
            data: {
                'year': yearId
            },
            success: function (data) {
                $("#id_make").html(data);
            }
        });

    });

    $("#id_make").change(function () {
        var url = $("#carForm").attr("data-makes-url");
        var makeId = $(this).val();

        $.ajax({
            url: '{% url 'ajax_load_models' %}',
            data: {
                'make': makeId
            },
            success: function (data) {
                $("#id_model").html(data);
            }
        });

    });
</script>

{% endblock %}