{% extends 'base.html' %}

{% block title %}Car View Module{% endblock %}

{% block content %}
<h2>Car Viewing Module</h2>
<p><a href="{% url 'car_add' %}">Add a car</a></p>

<table border="1">
    <thead>
        <tr>
            <th>Car Year</th>
            <th>Make</th>
            <th>Model</th>
        </tr>
    </thead>
    <tbody>
        {% for car in car %}
        <tr>
            <td>{{ car.year }}</td>
            <td>{{ car.model}}</td>
            <td>{{ car.make }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No cars in the database at the moment!. <a href="{% url 'car_add' %}">Add the first car</a>.
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}